/*common start*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
}
/*common end*/
/*header start*/
header{
	
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
	font-family: 'Lato', sans-serif;
	color: #8e8e8e !important;
	padding: 0 15px !important;
}
.menu ul li a:hover {
	color: #333333 !important;
}
/*header end*/